
#top-section{
    background-color: black;
    padding-top: 60px;
    padding-bottom: 60px;
}

.image-container {
    position: relative;
}

.sale-sticker {
    position: absolute;
    top: 14px;
    right: 18px;
    background-color: black;
    color: white;
    padding: 5px;
    font-weight: bold;
    border-radius: 8px;
    font-size: 10px;
}

.star-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.star-icon {
    color: #FFD700; /* Golden color for stars */
    font-size: 24px;
    margin: 0 2px;
}